<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <title>Dashboard</title>
</head>
<body>

    <a href="{% url 'logout' %}" class="btn-back">Logout</a>

    <header class="header">
        <h1>Welcome to {{ organisation }} Dashboard</h1>
    </header>

    <div class="container">
        <!-- Button to Add New Event -->
        <button class="dashboard-btn"onclick="window.location.href='{% url 'addevent' %}'">
            Add New Event
        </button>

        <!-- Button to View Organized Events -->
        <button class="dashboard-btn"onclick="window.location.href='{% url 'organisedevents' %}'">
            View Organized Events
        </button>
    </div>

    

</body>
</html>
