<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login Page</title>
    
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="organisation" value="{{ organisation }}">
            <input class="input-field" type="email" name="email" placeholder="Email" required>
            <input class="input-field" type="password" name="password" placeholder="Password" required>
            <button class="btn" type="submit">Login</button>
        </form>
    </div>
    
</body>
</html>

