<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/organised_event.css' %}">
    
    <title>Organized Events</title>
</head>
<body>

    <a href="{% url 'dashboard' %}" class="btn">Back to Dashboard</a>

    <h2>Organized Events</h2>
    
    <div class="event-list">
        <h3>List of Events</h3>
        
        {% for event in events %}
        <div class="event_block">
            <div class="event">
                <strong>{{ event.event_name }}</strong><br><br>
                <p><em>Date:</em> {{ event.event_date }}</p>
                <p><em>Time:</em> {{ event.start_time }} - {{ event.end_time }}</p>
                <p><em>Venue:</em> {{ event.event_venue }}</p>
                <p><em>Fee:</em> 
                    {% if event.registration_fee > 0 %}
                    ₹{{ event.registration_fee }}
                {% else %}
                    Free Reg
                {% endif %}
                </p>
                <p><em>Description:</em> {{ event.event_description }}</p>

                {% if event.event_poster %}
                <p><em>Poster:</em><br>
                    <img src="{{ event.event_poster.url }}" alt="Event Poster" width="100">
                {% endif %}<br><br> 
                {% if event.event_qr %}               
                <p><em>QR code:</em><br>
                    <img src="{{ event.event_qr.url }}" alt="QR Code for Payment" width="100">
                {% endif %}
                
                <div class="button-group">
                    <!-- Delete Event -->
                    <form action="{% url 'delete_event' event.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn_delete">Delete</button> 
                    </form>

                    <!-- Edit Event -->
                    <a href="{% url 'edit_event' event.pk %}">
                        <button class="btn_edit">Edit</button> 
                    </a>

                    <!-- View Participants -->
                    <a href="{% url 'reg_detail' event.pk %}">
                        <button class="btn_view">View Participants</button> 
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No events organized yet.</p>
        {% endfor %}
    </div>

</body>
</html>
